<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <h1>{{ page.title }}</h1>
      <p>{{ page.author }}</p>
      <p>{{ page.content }}</p>
      <p>{{ page.id }}</p>
      <p>{{ page.published_at }}</p>
    </div>
  </div>
  {% section 'task-sections-two-blocks' %}
</div>
